<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--<add name="FeedMeDB" connectionString="Server=.\;Database=FEEDMEDB;Trusted_Connection=True;" providerName="System.Data.SqlClient"/>-->
    <add name="FeedMeDB" connectionString="Server=tcp:feedmedb.database.windows.net,1433;Initial Catalog=FeedMeDB;Persist Security Info=False;User ID=Rykan;Password=LPR6Ut2UKYdKpW9;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <!--<location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\FeedMe.Web.dll" stdoutLogEnabled="false" stdoutLogFile="\\?\%home%\LogFiles\stdout" />
    </system.webServer>
  </location>-->
</configuration>