@{
    ViewData["Title"] = "Home Page";
}

<div class="row text-center">
    <blockquote class="imgur-embed-pub" lang="en" data-id="a/l36pF"><a href="//imgur.com/a/l36pF"></a></blockquote>
    <script async src="//s.imgur.com/min/embed.js" charset="utf-8"></script>
</div>
