.food {
    padding: 1.5rem .6rem;
    margin: .1rem;
    border: 2px solid transparent;
    border-radius: 5px;
    transition: border .5s;
    text-decoration: none;
}
    .food:hover {
        border: 2px solid #c7ebc0;
        transition: border .5s linear;

    }
.foodDetails {
    opacity: 0;
    transition: opacity .5s linear;
}
.food:hover .foodDetails {
    opacity: 1;
    transition: opacity .5s linear;
}
.calculatorIcon {
    font-size: 60px!important;
    padding-bottom:5px !important;
}
.calcBtn{
    width:14em;
}
.calResult{
    font-size:35px;
}
.macroResult {
    font-size: 25px;
}
.bold{
    font-weight:600;
}
.helpTxt{
    font-size:11px;
}
.vertical-center {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.foodName {
    font-weight: 700;
    letter-spacing: 0.5px;
    color: #2d303c;
    display: inline;
}

.foodServing {
    font-weight: 400;
    font-size: 14px;

}

.dateTxt {
    text-align: center;
    border: none;
}

.PlannerHeaderRow {
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-color: #4caf50;
    background-color: #e7ede6;
    padding-left: 8em;
    padding-top:.5em;
}
.PlannerHeader {
    font-size: 28px;
    font-weight: 600;
    font-family: Avenir, "Lato", "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.day {
    font-size: 58px;
    font-family: Avenir, "Lato", "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 45px;
}

.content {
    padding-top:2em;
}

.btn-date {
    font-size: 22px;
    box-shadow: none;
    border-color: gray !important;
    border-style: solid !important;
    padding: 2px 18px;
    border: 1px;
    margin: 0 1px;
}
.btn-text {
padding: 5.5px 14px;
font-size:16px;
}

.minus {
    color: #e34242;
    font-size: 20px;
    transition: color .1s linear;
}

    .minus:hover {
        color: red;
        transition: color .1s linear;
    }