@model FeedMe.Models.FoodViewModel

<div class="form-horizontal">
    <div class="card col-lg-offset-3 col-lg-6" style="padding: 5px 30px;">
        <row>
            <div class="pull-right" style="padding-top:20px;">
                <button type="button" id="Customize" class="button green hidden" onclick="editMode()"><i class="fas fa-edit">Customize</i></button>
                <button type="button" id="Edit" class="button green hidden" onclick="editMode()"><i class="fas fa-edit">Edit</i></button>
            </div>
            <h2 class="card-header">Food Details</h2>

        </row>
        <div class="card-body">
            <div class="col">
                <div class="row">
                    <div class="form-group col-lg-3">
                        <label asp-for="FoodName"></label>
                        <input asp-for="FoodName" class="form-control" disabled />
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-lg-6">
                        <label asp-for="FoodDesc"></label>
                        <input asp-for="FoodDesc" class="form-control" disabled />
                    </div>
                </div>
                <h2 class="card-header">Serving Details</h2>
                <div class="row">
                    <div class="form-group col-lg-2">
                        <label asp-for="Cals"></label>
                        <input asp-for="Cals" id="Cals" class="form-control" disabled />
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-1 col-md-1">
                        <div class="col form-group">
                            <label asp-for="MacC" class="MacC"></label>
                            <input asp-for="MacC" id="MacC" class="form-control" disabled onchange="drawChart(); checkCalories();" />
                        </div>
                        <div class="col form-group">
                            <label asp-for="MacP" class="MacP"></label>
                            <input asp-for="MacP" id="MacP" class="form-control" disabled onchange="drawChart(); checkCalories();" />
                        </div>
                        <div class="col form-group">
                            <label asp-for="MacF" class="MacF"></label>
                            <input asp-for="MacF" id="MacF" class="form-control" disabled onchange="drawChart(); checkCalories();" />
                        </div>
                    </div>

                    <div class=" col-lg-offset-5 col-xl-offset-6 col-md-offset-4 col-lg-3">
                        <div class="row text-center"><h6>Macros by Percentage:</h6></div>
                        <div id="chartContainer"></div>
                    </div>
                </div>
                <div class="col-lg-10 alert alert-danger hidden" id="CalWarning">
                    The calories entered <b id="enteredCals"></b> differ too much from the calories from macros <b id="calculatedCals"></b>.
                </div>
                <div class="row pull-right">
                    <button type="submit" id="Save" class="button blue hidden">Save Changes</button>
                    <button type="submit" id="Create" class="button blue hidden">Create New Food</button>
                </div>
            </div>
        </div>
    </div>
</div>

<input type="hidden" id="mode" value="@ViewBag.Mode" />
<input type="hidden" id="foodUserID" value="@Model.CreatorID.ToString()" />
<input type="hidden" id="currentUserID" value="@ViewBag.UserID" />
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        var mode = document.getElementById("mode").value;
        if (mode == "edit") {
            editMode()
        }
        else {
            if (document.getElementById("foodUserID").value == document.getElementById("currentUserID").value) {
                $("#Edit").removeClass("hidden");
            }
            else {
                $("#Customize").removeClass("hidden");
            }
        }


    });

    function editMode() {
        $("#Save").removeClass("hidden");
        $("#Customize").addClass("hidden");
        $("#Edit").addClass("hidden");
        $(".form-control").prop("disabled", false);
    }

    function checkCalories() {
        var cals = document.getElementById("Cals").value;
        var actualCals = calcCals();

        if (actualCals != cals) {
            document.getElementById("enteredCals").value = cals;
            document.getElementById("calculatedCals").value = actualCals;
            $("#CalWarning").removeClass("hidden");
        }
        else {
            //Not working
            if ($("#CalWarning").hasClass("hidden")==false) {
                alert("!!");
                $("#CalWarning").addClass("hidden")
            }
        }
    }
    function AdjustCals() {
        document.getElementById("Cals").value = calcCals();
        $("#CalWarning").addClass("hidden");
    }
    function IgnoreWarning() {
        $("#CalWarning").addClass("hidden");
    }
    function calcCals() {
        var macC = document.getElementById("MacC").value;
        var macP = document.getElementById("MacP").value;
        var macF = document.getElementById("MacF").value;
        return (macC * 4) + (macF * 9) + (macP * 4);
    }

    google.charts.load('current', { 'packages': ['corechart'] });
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {

        var data = google.visualization.arrayToDataTable([
            ['Macro', 'Percent total'],
            ['Carbs', parseInt(document.getElementById('MacC').value)],
            ['Protein', parseInt(document.getElementById('MacP').value)],
            ['Fat', parseInt(document.getElementById('MacF').value)]
        ]);

        var options = {
            chartArea: { width: '100%', height: '100%' },
            colors: ['#FCB524', '#52C0BC', '#976fe8'],
            legend: { position: 'none' },
            pieSliceTextStyle: { fontSize: 16 },
            backgroundColor: '#fff',
            animation: {
                startup: true,
                duration: 1000
            }
        };

        var chart = new google.visualization.PieChart(document.getElementById('chartContainer'));

        chart.draw(data, options);
    }
</script>
